<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-  include("partials/head") -%>
    <title>Pinterest</title>
</head>
<body>
    <div class="container p-4 align-items-center">
        <center>
            <img src="<%= image.path %>" alt="<%= image.title %>" width="70%">
            <h1><%= image.title %></h1>
            <p><%= image.description %></p>
            <a href="/delete/<%= image._id %>" class="btn btn-danger">Delete</a>
        </center>
    </div>
</body>
</html>